*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
main{
    width:100%;
    height: 100vh;
    background-image:url(img/fondodeimagen.jpg);background-repeat: no-repeat; background-size:cover;
    background-position:center;
}
#contenedor{
    width:80%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:rgb(9, 11, 110);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1,h2{
    text-align: center;
    align-content: center;
    margin:15px
}
#contenedor h1{height: 50px;}
#contenedor h2{height: 100px;}


.web li a{
    text-decoration: none;
    padding:10px;
    color:rgb(94, 46, 46)
}
.redes li a{
    padding:5px;
    font-size: 1.5em;
    color:rgb(128, 45, 45);
}
/* blog*/
#container{
    width:80%;
    margin:auto;
}
#principal{
    height: 1000px;
}

header .web li a{
    color:rgb(39, 83, 177);
}

#foto img{
    width:90%;
    display:block;
    margin:auto;
    border-radius:20px;
}
figure{
    text-align: center;
    width:50px;
    float:right;
    
}
figure img{
    width:100%;
    border-radius: 50%;
}

/*blog parrafo*/
.blog{
    display:flex;
    align-items:center;
    gap:20px;
}

.blog img{
    width:250px;
    border-radius:10px;
}

.texto{
    width:600px;
}

header{
    width:100%;
    background:#7f8ae9;

    position:fixed;
    top:0;
    left:0;

    z-index:1000;

    padding:30px 0;

    box-shadow:0px 4px 10px rgba(5, 5, 5, 0.5);
}

/* MENU */
.menu{
    width:80%;
    margin:auto;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;
}

/* TITULO */
.menu h1{
    color:#080808;
    font-size:45px;

    margin-bottom:25px;
}

/* SUBTITULOS */
.menu ul{
    list-style:none;

    display:flex;

    gap:40px;
}

.menu ul li a:hover{
    background:#9aa5e4;
    color:rgb(0, 0, 0);
}

section{
    width:90%;

    margin:auto;

    padding-top:250px;
}

/* Galeria */
.galeria{
    width:90%;
    margin:auto;

    display:flex;
    flex-wrap:wrap;

    justify-content:space-between;

    row-gap:50px;

    padding-top:250px;
}

.card{
    width:30%;

    text-align:center;
}

.card img{
    width:100%;

    height:220px;

    object-fit:cover;

    border-radius:15px;

    transition:0.5s;

    /* Filtro */
    filter:brightness(80%) grayscale(20%);

    box-shadow:0px 4px 15px rgba(0,0,0,0.5);
}

/* efecto hover */
.card img:hover{

    /* transformer */
    transform:scale(1.08) rotate(2deg);

    /* filtro */
    filter:brightness(100%) grayscale(0%);

    box-shadow:0px 0px 25px rgba(37,99,235,0.8);
}

.card p{
    margin-top:15px;

    font-size:20px;

    font-weight:bold;

    color:#1d4ed8;

    transition:0.3s;
}

.card:hover p{
    color:#000;
}

.web li a{
    text-decoration:none;
    color:#533892;
    font-size:20px;
    font-weight:bold;
    padding:10px 20px;
    border-radius:10px;
    transition:0.3s;
}


.web li a:hover{
    background:#93c5fd;
    color:white;
}

.redes li a{
    display:flex;
    justify-content:center;
    align-items:center;
    width:70px;
    height:70px;
    background:#000000;
    color:white;
    font-size:40px;
    border-radius:50%;
    box-shadow:0px 0px 15px rgba(0,0,0,0.7);
    transition:0.3s;
    text-decoration:none;
}

.redes li a:hover{
    transform:scale(1.2);

    background:#1742a7;

    color:white;

    box-shadow:0px 0px 25px #2563eb;
}

#youtube{
    width:30%;
    text-align:center;
}

#youtube img{
    width:100%;
    height:160px;

    object-fit:cover;

    border-radius:5px;
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1{
    font-size: 50px;
}
iframe{
    display:block;

    margin:30px auto;

    border-radius:15px;

    box-shadow:0px 4px 15px rgba(0,0,0,0.5);
}
/*para ubicarme en que pagina estoy*/
.activo{
    background:#2563eb;
    color:white !important;
    border-radius:10px;
    box-shadow:0px 0px 15px rgba(37,99,235,0.8);
}